@use "../../../../styles/variables" as vars;
@use "../../../../styles/placeholders";

.skeletonButton {
  @extend %skeleton-base;
  height: 38px;
  width: 80px;
}

.skeletonDetailsPoster {
  @extend %skeleton-base;
  width: 100%;
  height: 450px;
}

.skeletonTitle {
  @extend %skeleton-base;
  height: 40px;
  width: 70%;
}

.skeletonSubtitle {
  @extend %skeleton-base;
  height: 24px;
  width: 120px;
  margin-bottom: 12px;
}

.skeletonBadge {
  @extend %skeleton-base;
  height: 20px;
  width: 60px;
}

.skeletonRating {
  @extend %skeleton-base;
  height: 30px;
  width: 120px;
}

.skeletonLine {
  @extend %skeleton-base;
  height: 20px;
  width: 90%;
  margin-bottom: 8px;
}
