@use "styles/variables" as vars;

// Base styles
body {
  font-family: vars.$font-family-base;
  line-height: 1.6;
  color: vars.$text-color;
  background-color: vars.$background-color;
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
}

// Typography
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

// Interactive elements
button {
  cursor: pointer;
}

a {
  color: vars.$link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
